/* FONTS IMPORT  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* CSS RESET  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: 'poppins', sans-serif;
}

/* VARIABLES */
:root {
    --primaryBlack-Color: #121212;
    --secondaryWhite-Color: #fafafa;
    --gradientPrimary-Color: #3acbf0;
    --gradientSecondary-Color: #8bb0ff;
    --tertiaryGray-Color: #9e9d9d;
    --errorFont-Color: #ff2f2f;
}

/* BODY CONTENT */

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: var(--primaryBlack-Color);
}

.container {
    max-width: 600px;
    /* width use 100% of 600px  */
    /* responsive interface on smaller screens */
    width: 100%;
    margin: 20px;
    border-radius: 20px;
    /* padding: 20px; */
    background-color: var(--secondaryWhite-Color);
    box-sizing: 0 3px 5px rgba(0,0,0,0,0.5);
    /* tudo que ultapassar o container será escondido  */
    overflow: hidden;


}

.header {
    padding: 20px;
    background: linear-gradient(120deg, #3acbf0 0%, #8bb0ff 100%);
    /* 120dev = gradient rotation */
    text-align: center;
    color: var(--secondaryWhite-Color);
}

.form {
    padding: 20px;

}

.form_content {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.form_content label {
    display: block;
    color: var(--tertiaryGray-Color);
}

.form_content input, 
.submit {
    width: 100%;
    border-radius: 10px;
    padding: 3px 10px;
    font-size: 14px;
    border: 2px solid var(--tertiaryGray-Color);
    color: var(--tertiaryGray-Color);
}

.form_content a {
    display: block;
    color: var(--errorFont-Color);
    display: none;
}


.submit {
    background: linear-gradient(120deg, #3acbf0 0%, #8bb0ff 100%);
    border: 0;
    color: var(--secondaryWhite-Color);
    margin-top: 5px;
    padding: 7px;
    cursor: pointer;
}


/* Fonte aprendizado e Estudo
https://www.youtube.com/watch?v=k7iMlH5YyK8
*/